body{
    margin: 200px;
}
.message_icon{
    font-size: 300px;
    text-align: center;
    position: relative;
    width: 300px;
    max-width: 300px;
    max-height: 300px;
    line-height: 300px;
}
.circle{
    border: 2px solid red;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 90px;
    background-color: red;
    font-size: 50px;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 50px;
}