.grid_body{
    font-family: sans-serif;
    display: inline-grid;
    grid-template-columns: 170px 130px 150px 140px;
    grid-template-rows: repeat(5,1fr);
}
.odd{
    text-align: left;
    border: 2px inset rgb(180, 176, 176);
    padding: 10px;
    background-color: rgb(180, 176, 176);
    color: black;
}
.even{
    text-align: left;
    border: 2px inset white;
    padding: 10px;
    background-color: white;
    color: black;
}
.grid_header{
    text-align: left;
    border: 2px inset rgb(89, 202, 37);
    padding: 10px;
    background-color: rgb(89, 202, 37);
    color: white;
}
img{
    width: 25px;
    height: 15px;
}
