.table_body{
    border-spacing:0px;
    font-family: sans-serif;
}
.odd{
    text-align: left;
    border: 2px inset rgb(211, 208, 208);
    background-color: rgb(211, 208, 208);
    color: black;
}
.even{
    text-align: left;
    border: 2px inset white;
    background-color: white;
    color: black;
}
.table_header{
    text-align: left;
    border: 2px inset rgb(89, 202, 37);
    padding: 2px;
    background-color: rgb(89, 202, 37);
    color: white;
}
img{
    padding: 2px;
    height: 17px;
    width: 25px;
}
.col1{
    width: 150px;
}
.col2{
    width: 100px;
}
.col3{
    width: 110px;
}
.col4{
    width: 100px;
}