.body{
    background-color: rgb(223, 221, 221);
}
.header{
    padding:0 0 55px 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
}
img{
    border: rgb(165, 164, 164) solid ;
    width: 200px;
    height: 180px;
}
.border{
    background-color: rgb(223, 221, 221);
    padding: 10px 25px 10px 45px;
    flex-direction: column;
}
.element{
    background-color: lightyellow;
    border: rgb(165, 164, 164) solid ;
    padding: 20px;
    margin: 20px;  
    display: flex;
    flex: 1 1 auto;
}
.two-button{
    display: flex;
    align-self: flex-end;
}
.text-and-button{
    padding: 10px;
    flex-direction: column;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
}
a{
    margin: 5px;
}
.button-listen-add {
	box-shadow:inset 0px 1px 3px 0px #cf866c;
	background:linear-gradient(to right, #8b1515 25%, #bc1515 25%);
	border:3px inset #bc1515;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:11px 35px;
	text-decoration:none;
	text-shadow:0px -1px 0px #854629;
}
figure {
    width: 300px; /* Ширина области */
    height: 200px; /* Высота области */
    margin: 0; /* Обнуляем отступы */
   }
figure img { 
    width: 300px; /* Ширина изображений */
    height: 100%; /* Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область */
   }
